<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>%game_name%</label>
                <input type="text" name="name"
                       value="$name"
                       placeholder="Counter-Strike: Global Offensive"
                       class="form-control" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>
                    %game_short%
                    <span class="fa fa-info-circle" data-toggle="tooltip"
                          data-placement="bottom"
                          title="%tooltip_game_short%"></span>
                </label>
                <input type="text" name="short"
                       value="$short"
                       placeholder="CS:GO"
                       class="form-control" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>
                    %game_tag%
                    <span class="fa fa-info-circle" data-toggle="tooltip"
                          data-placement="bottom"
                          title="%tooltip_game_tag%"></span>
                </label>
                <input type="hidden" name="tag_old"
                       value="$tag" />
                <input type="text" name="tag"
                       value="$tag"
                       class="form-control"
                       placeholder="csg"
                       maxlength="10" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" name="cup_auto_active"
                           value="1" />
                </span>
                <span class="form-control">%cup_auto_active%</span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label>%game_icon% (16x16px, gif %or% png)</label>
                <input name="icon" type="file"
                       class="form-control"
                       accept="image/*" />
            </div>
        </div>
        <div class="col-sm-4" id="game_icon">
            $icon
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="clearfix">
                <div class="pull-right">
                    <input type="hidden" name="game_id" value="$game_id" />
                    <button type="submit" name="$postName"
                            id="submitButton"
                            class="btn btn-info btn-sm white darkshadow">
                        %save%
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
